* {font-family: monospace; }
.comment {color: gray;}
.keyword {color: #C0A000;}
.method {color: brown}
.string {color: cornflowerblue}
.indent { padding-left: 0.3em }
.operator {color: blue}
.number {color: cornflowerblue}
.bracket {color: green}